In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Bengaluru_House_Data.csv")

In [3]:
df.sample()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
839,Plot Area,Ready To Move,Nagarbhavi,2 Bedroom,NaN,1200,2.0,1.0,150.0

In [4]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
df.availability.value_counts()

Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64

In [6]:
df.availability.unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [7]:
df.size

119880

In [8]:
df.shape

(13320, 9)

In [9]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [10]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [12]:
############           now

In [13]:
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [14]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [15]:
df['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [16]:
df['location'].isnull().sum()

1

In [17]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [18]:
df['size'].isnull().sum()

16

In [19]:
df['size'] = df['size'].fillna('2 BHK')

In [20]:
df['size'].isnull().sum()

0

In [21]:
df['bath'].value_counts()

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

In [22]:
df['bath'].isnull().sum()

73

In [23]:
df['bath'] = df['bath'].fillna(df['bath'].median())

In [24]:
df['bath'].isnull().sum()

0

In [25]:
df.isnull().sum()

location      1
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [27]:
df['bhk'] = df['size'].str.split().str.get(0).astype(int)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
 5   bhk         13320 non-null  int32
dtypes: float64(2), int32(1), object(3)
memory usage: 572.5+ KB

In [29]:
df.drop(columns=['size'],inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   total_sqft  13320 non-null  object
 2   bath        13320 non-null  float64
 3   price       13320 non-null  float64
 4   bhk         13320 non-null  int32
dtypes: float64(2), int32(1), object(2)
memory usage: 468.4+ KB

In [31]:
# df[df.bhk>20]

In [32]:
# import numpy as np
# df[df.bhk>20]=np.nan

In [33]:
# df[df.bhk>20]

In [34]:
# df.shape

In [35]:
# df.dropna(inplace=True)

In [36]:
# df.shape

In [37]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [38]:
df.head()

                   location total_sqft  bath   price  bhk
0  Electronic City Phase II       1056   2.0   39.07    2
1          Chikka Tirupathi       2600   5.0  120.00    4
2               Uttarahalli       1440   2.0   62.00    3
3        Lingadheeranahalli       1521   3.0   95.00    3
4                  Kothanur       1200   2.0   51.00    2

In [39]:
df[df['total_sqft'].map(lambda x : len(x)>4)]

                 location   total_sqft  bath    price  bhk
30              Yelahanka  2100 - 2850   4.0  186.000    4
44         Kanakpura Road      1330.74   2.0   91.790    2
56            Devanahalli  3010 - 3410   2.0  192.000    4
81            Hennur Road  2957 - 3450   2.0  224.500    4
122                Hebbal  3067 - 8156   4.0  477.000    4
...                   ...          ...   ...      ...  ...
13086       Sindhi Colony      5665.84   7.0  988.000    5
13123  9th Phase JP Nagar      1331.95   2.0   69.000    2
13240         Devanahalli  1020 - 1130   2.0   52.570    1
13265               Hoodi  1133 - 1384   2.0   59.135    2
13299          Whitefield  2830 - 2882   5.0  154.500    4

[361 rows x 5 columns]

In [40]:
df[df['total_sqft'].map(lambda x : len(x)>4)].shape

(361, 5)

In [41]:
import re


def convert(x):
    if '-' in x:
        a , b = x.split('-')
        c = float(re.findall('[0-9]+',a)[0])
        d = float(re.findall('[0-9]+',b)[0])
#         print(c,d)
        return ((c+d)/2)
    else:
        c = float(re.findall('[0-9]+',x)[0])
#         print(c)
        return c


# convert("2100.78")
df['total_sqft'] = df['total_sqft'].map(convert)

In [42]:
df['total_sqft'].isnull().sum()

0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   total_sqft  13320 non-null  float64
 2   bath        13320 non-null  float64
 3   price       13320 non-null  float64
 4   bhk         13320 non-null  int32
dtypes: float64(3), int32(1), object(1)
memory usage: 468.4+ KB

In [44]:
df.head(40)

                    location  total_sqft  bath   price  bhk
0   Electronic City Phase II      1056.0   2.0   39.07    2
1           Chikka Tirupathi      2600.0   5.0  120.00    4
2                Uttarahalli      1440.0   2.0   62.00    3
3         Lingadheeranahalli      1521.0   3.0   95.00    3
4                   Kothanur      1200.0   2.0   51.00    2
5                 Whitefield      1170.0   2.0   38.00    2
6           Old Airport Road      2732.0   4.0  204.00    4
7               Rajaji Nagar      3300.0   4.0  600.00    4
8               Marathahalli      1310.0   3.0   63.25    3
9               Gandhi Bazar      1020.0   6.0  370.00    6
10                Whitefield      1800.0   2.0   70.00    3
11                Whitefield      2785.0   5.0  295.00    4
12        7th Phase JP Nagar      1000.0   2.0   38.00    2
13                 Gottigere      1100.0   2.0   40.00    2
14                  Sarjapur      2250.0   3.0  148.00    3
15               Mysore Road      1175.0   2.0   73.50    2
16             Bisuvanahalli      1180.0   3.0   48.00    3
17     Raja Rajeshwari Nagar      1540.0   3.0   60.00    3
18     Ramakrishnappa Layout      2770.0   4.0  290.00    3
19        Manayata Tech Park      1100.0   2.0   48.00    2
20                   Kengeri       600.0   1.0   15.00    1
21                Binny Pete      1755.0   3.0  122.00    3
22               Thanisandra      2800.0   5.0  380.00    4
23                 Bellandur      1767.0   3.0  103.00    3
24               Thanisandra       510.0   1.0   25.25    1
25           Mangammanapalya      1250.0   3.0   56.00    3
26           Electronic City       660.0   1.0   23.10    2
27                Whitefield      1610.0   3.0   81.00    3
28          Ramagondanahalli      1151.0   2.0   48.77    2
29           Electronic City      1025.0   2.0   47.00    3
30                 Yelahanka      2475.0   4.0  186.00    4
31             Bisuvanahalli      1075.0   2.0   35.00    3
32                    Hebbal      1760.0   2.0  123.00    3
33     Raja Rajeshwari Nagar      1693.0   3.0   57.39    3
34             Kasturi Nagar      1925.0   3.0  125.00    3
35            Kanakpura Road       700.0   2.0   36.00    2
36  Electronics City Phase 1      1070.0   2.0   45.50    2
37              Kundalahalli      1724.0   3.0  125.00    3
38            Chikkalasandra      1290.0   2.0   56.12    3
39               Uttarahalli      1143.0   2.0   45.00    2

In [45]:
df.location.isnull().sum()

1

In [46]:
df.location.value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   total_sqft  13320 non-null  float64
 2   bath        13320 non-null  float64
 3   price       13320 non-null  float64
 4   bhk         13320 non-null  int32
dtypes: float64(3), int32(1), object(1)
memory usage: 468.4+ KB

In [48]:
# there could be space before and after the location name

In [49]:
# df['location'] = df['location'].apply(lambda x : x.strip())

In [50]:
df.head()

                   location  total_sqft  bath   price  bhk
0  Electronic City Phase II      1056.0   2.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0  120.00    4
2               Uttarahalli      1440.0   2.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0   95.00    3
4                  Kothanur      1200.0   2.0   51.00    2

In [51]:
df.location.value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [52]:
location_count = df.location.value_counts()

In [53]:
location_count

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [54]:
rep = location_count[location_count<=10].index

In [55]:
rep.shape

(1064,)

In [56]:
location_count.shape

(1305,)

In [57]:
df['location'] = df['location'].replace(rep,"other")

In [58]:
df['location'].value_counts()

other                 2900
Whitefield             540
Sarjapur  Road         399
Electronic City        302
Kanakpura Road         273
                      ...
Marsur                  11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [59]:
df['price_per_sqft'] = (df['price']*10000)/df['total_sqft']

In [60]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13320.000000  13320.000000  13320.000000  13320.000000    1.332000e+04
mean    1555.968356      2.688814    112.565627      2.802778    1.287954e+03
std     1238.902473      1.338754    148.971674      1.294496    2.583161e+04
min        1.000000      1.000000      8.000000      1.000000    2.678298e+01
25%     1100.000000      2.000000     50.000000      2.000000    4.271723e+02
50%     1275.000000      2.000000     72.000000      3.000000    5.444545e+02
75%     1679.250000      3.000000    120.000000      3.000000    7.335907e+02
max    52272.000000     40.000000   3600.000000     43.000000    2.000000e+06

In [61]:
(df['total_sqft']/df['bhk']).describe()

count    13320.000000
mean       573.601880
std        388.596864
min          0.250000
25%        472.500000
50%        551.833333
75%        625.000000
max      26136.000000
dtype: float64

In [62]:
df[(df['total_sqft']/df['bhk'])<300]

               location  total_sqft  bath  price  bhk  price_per_sqft
9                 other      1020.0   6.0  370.0    6     3627.450980
45           HSR Layout       600.0   9.0  200.0    8     3333.333333
58        Murugeshpalya      1407.0   4.0  150.0    6     1066.098081
68                other      1350.0   7.0   85.0    8      629.629630
70                other       500.0   3.0  100.0    3     2000.000000
...                 ...         ...   ...    ...  ...             ...
13277             other      1400.0   7.0  218.0    7     1557.142857
13279             other      1200.0   5.0  130.0    6     1083.333333
13281   Margondanahalli      1375.0   5.0  125.0    5      909.090909
13303    Vidyaranyapura       774.0   5.0   70.0    5      904.392765
13311  Ramamurthy Nagar      1500.0   9.0  250.0    7     1666.666667

[782 rows x 6 columns]

In [63]:
df[(df['total_sqft']/df['bhk'])<300].shape

(782, 6)

In [64]:
df = df[((df['total_sqft']/df['bhk'])>=300)]

In [65]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12538.000000  12538.000000  12538.000000  12538.000000    12538.000000
mean    1594.850415      2.560217    111.390611      2.651460      630.378729
std     1261.221099      1.079405    152.041719      0.978385      416.115904
min      300.000000      1.000000      8.440000      1.000000       26.782981
25%     1116.000000      2.000000     49.000000      2.000000      421.052632
50%     1300.000000      2.000000     70.000000      3.000000      529.411765
75%     1700.000000      3.000000    115.000000      3.000000      691.666667
max    52272.000000     16.000000   3600.000000     16.000000    17647.058824

In [66]:
df.price_per_sqft.describe()

count    12538.000000
mean       630.378729
std        416.115904
min         26.782981
25%        421.052632
50%        529.411765
75%        691.666667
max      17647.058824
Name: price_per_sqft, dtype: float64

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12538 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        12537 non-null  object
 1   total_sqft      12538 non-null  float64
 2   bath            12538 non-null  float64
 3   price           12538 non-null  float64
 4   bhk             12538 non-null  int32
 5   price_per_sqft  12538 non-null  float64
dtypes: float64(4), int32(1), object(1)
memory usage: 636.7+ KB

In [83]:
###############  remove outliner
import numpy as np
data = df

In [84]:

def remove_outliers_sqft(data):
    df_output = pd.DataFrame()
    for key,subdf in data.groupby('location'):
        gen_df = pd.DataFrame()
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
#         print(subdf)
#         print("*"*20)
        gen_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
data = remove_outliers_sqft(data)

In [85]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10310.000000  10310.000000  10310.000000  10310.000000    10310.000000
mean    1508.689719      2.472260     91.303290      2.575364      565.957546
std      881.048522      0.981721     86.339569      0.900251      226.542077
min      300.000000      1.000000     10.000000      1.000000      125.000000
25%     1110.000000      2.000000     49.000000      2.000000      424.499422
50%     1286.000000      2.000000     67.000000      2.000000      517.579209
75%     1650.000000      3.000000    100.000000      3.000000      642.857143
max    30400.000000     16.000000   2200.000000     16.000000     2450.980392

In [86]:
df = data

In [87]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10310.000000  10310.000000  10310.000000  10310.000000    10310.000000
mean    1508.689719      2.472260     91.303290      2.575364      565.957546
std      881.048522      0.981721     86.339569      0.900251      226.542077
min      300.000000      1.000000     10.000000      1.000000      125.000000
25%     1110.000000      2.000000     49.000000      2.000000      424.499422
50%     1286.000000      2.000000     67.000000      2.000000      517.579209
75%     1650.000000      3.000000    100.000000      3.000000      642.857143
max    30400.000000     16.000000   2200.000000     16.000000     2450.980392

In [91]:
def bhk_outliers_remove(data):
    exclude_indices = np.array([])
    for location , location_df in data.groupby('location'):
        bhk_states = {}
        for bhk,bhk_df in location_df.groupby('bhk'):
            bhk_states[bhk]={
                'mean' : np.mean(bhk_df.price_per_sqft),
                'std' : np.std(bhk_df.price_per_sqft),
                'count' : bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            state = bhk_states.get(bhk-1)
            if state and state['count'] > 5 :
                exclude_indices = np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft < state['mean']].index.values)
    return data.drop(exclude_indices,axis='index')
data = bhk_outliers_remove(data)

In [95]:
data.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   7372.000000  7372.000000  7372.000000  7372.000000     7372.000000
mean    1497.173698     2.447775    99.063704     2.501356      612.419044
std      866.152343     1.016009    93.341520     0.933190      241.102015
min      300.000000     1.000000    10.000000     1.000000      130.000000
25%     1096.000000     2.000000    50.000000     2.000000      459.494388
50%     1260.000000     2.000000    73.100000     2.000000      568.130584
75%     1680.000000     3.000000   113.000000     3.000000      689.655172
max    30000.000000    16.000000  2200.000000    16.000000     2450.980392

In [96]:
data.shape

(7372, 6)

In [97]:
df = data

In [98]:
df.shape

(7372, 6)

In [101]:
df.drop(columns=['price_per_sqft'],inplace=True)

In [102]:
# clearn data

In [105]:
df.sample(10)

                  location  total_sqft  bath  price  bhk
2921                Hebbal      1252.0   2.0   92.0    2
972      Bannerghatta Road      1206.0   2.0   53.0    2
5833           Rajiv Nagar      2340.0   5.0  129.0    4
4837  Lakshminarayana Pura      1172.0   2.0   75.0    2
4627             Kothannur      1485.0   2.0   59.4    3
2721          Haralur Road      1140.0   2.0   43.0    2
5864      Ramagondanahalli      1151.0   2.0   43.6    2
2580            HSR Layout      1600.0   2.0  115.0    3
2546            HBR Layout      1700.0   3.0  110.0    3
5339      Old Airport Road      2774.0   4.0  207.0    4

In [108]:
df.to_csv('Clean_data.csv')

In [109]:
y = df['price']
x = df.drop(columns=['price'])

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [122]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [124]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [126]:
scaler = StandardScaler()

In [128]:
lr = LinearRegression()

In [129]:
pipe = make_pipeline(column_trans,scaler,lr)

In [130]:
pipe.fit(x_train,y_train)

C:\Users\Thinkpad\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [131]:
y_pred_lr = pipe.predict(x_test)

In [132]:
r2_score(y_test,y_pred_lr)

0.8113863543026789

In [133]:
lasso = Lasso()

In [135]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [136]:
pipe.fit(x_train,y_train)

C:\Users\Thinkpad\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [137]:
y_pred_lasso = pipe.predict(x_test)

In [138]:
r2_score(y_test,y_pred_lasso)

0.8091155167149011

In [139]:
ridge = Ridge()

In [141]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [142]:
pipe.fit(x_train,y_train)

C:\Users\Thinkpad\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [143]:
y_pred_ridge = pipe.predict(x_test)

In [144]:
r2_score(y_test,y_pred_ridge)

0.8112080837742153

In [145]:
# ridge is given best prediction

In [146]:
import pickle

In [149]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))